.header {
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F7F7F7;
}

.logo {
    align-items: center;
    display: flex;
    text-align: left;
    text-decoration: none;

    &Icon {
        margin-right: 17px;
    }

    &Title {
        cursor: pointer;
        color: #181818;
        font-size: 24px;
        font-weight: 800;
        line-height: 29px;
        text-transform: uppercase;
    }

    &Subtitle {
        cursor: pointer;
        color: #7B7B7B;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
}