@import 'styles';

.nav {
    margin: 40px 0 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint-md) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.filter {
    list-style: none;
    display: flex;
    max-width: 100%;

    @media (max-width: $breakpoint-md) {
        margin-bottom: 30px;
        overflow-x: auto;
    }
}

.buttonPizzaType {
    background-color: #F9F9F9;
    border-color: #F9F9F9;
    color: #2C2C2C;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px;

    &:hover {
        background-color: #2C2C2C;
        border-color: #2C2C2C;
        color: #F9F9F9;
    }

    &_active {
        background-color: #2C2C2C;
        border-color: #2C2C2C;
        color: #F9F9F9;
    }
}

.sort {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    &Icon {
        margin-right: 7px;
    }
}

.select {
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $orange;
    text-decoration: underline dotted;
}