@import 'styles';

.button {
    align-items: center;
    border-radius: 30px;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 38px;
    padding: 0 15px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.button__orange {
    background-color: $orange;
    border-color: $orange;

    &:hover {
        background-color: lighten($orange, 15%);
        border-color: lighten($orange, 15%);
    }

    &--outlined {
        border-color: $orange;
        background-color: white;
        color: $orange;

        &:hover {
            border-color: darken($orange, 10%);
            color: darken($orange, 10%);
            background-color: #fff3ef;
        }
    }
}

.button__black {
    background-color: #282828;
    border-color: #282828;

    &:hover {
        background-color: lighten(#282828, 15%);
        border-color: lighten(#282828, 15%);
    }
}

.button__disabled {
    background-color: lighten($orange, 15%);
    cursor: default;
}