.buttonGroup {
    display: inline-flex;
    border-radius: 30px;
    line-height: 50;

    &>button {
        margin: 0;
        border-radius: 0;

        &:first-child {
            padding-left: 23px;
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
        }

        &:last-child {
            padding-right: 23px;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
        }

        &:not(:last-child) {
            position: relative;

            &::after {
                background-color: rgba(255, 255, 255, 0.25);
                content: '';
                height: 25px;
                position: absolute;
                right: -1px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
            }
        }
    }
}