@font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/proximanova_regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/proximanova_bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../assets/fonts/proximanova_extrabold.ttf');
	font-weight: 800;
	font-style: normal;
}
