$grey: rgba(0, 0, 0, 0.1);

@keyframes skeleton-animation {
    0% {
        background-color: lighten($grey, 80%);
    }

    100% {
        background-color: $grey;
    }
}

.root {
    animation: skeleton-animation 1s linear infinite alternate;
    width: 100px;
    height: 100px;
}

.variant {
    &__circular {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    &__rectangle {
        width: 200px;
        height: 100px;
    }
}