.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    aspect-ratio: 1 / 1;
    height: auto;
    margin-bottom: 10px;
    max-width: 280px;
    width: 100%;
}

.title {
    border-radius: 10px;
    height: 24px;
    margin-bottom: 22px;
    width: 100%;
}

.variants {
    border-radius: 10px;
    height: 83px;
    margin-bottom: 17px;
    width: 100%;
}

.actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price {
    border-radius: 10px;
    height: 30px;
    max-width: 90px;
    width: 100%;
}

.button {
    border-radius: 30px;
    height: 40px;
    max-width: 106px;
    width: 100%;
}