@import './assets/fonts/fonts.css';
@import './assets/styles/colors.scss';
//@import-normalize;

* {
  box-sizing: border-box;
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $bg_color;
  margin: 0;
}